<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCH___Sistema_de_Controle_de_Hospedagem.Properties.Settings.bd_forpro_hotelConnectionString"
            connectionString="server=localhost;user id=root;database=bd_forpro_hotel"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>